<h1>Social Exchange</h1>
<p>Welcome!</p>
<p>It is now <%= Time.now %> </p>
<p>
<%= link_to("Manage Individuals", individuals_path) %><br/>
<%= link_to("Manage Charities", charities_path) %><br/>
<%= link_to("Manage Businesses", businesses_path) %>
</p>


